@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-image: url("background.png");
}

header {
	margin: 0px;
}

ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: palevioletred;
	position: fixed;
	width: 100%;
	
}

li {
	float: right;
}

.li_cakes {
	margin-right: 10%;
}

/*.li_space {
	display: block;
	width: 10%;
	height: 100%;
	background-color: blue;
}	*/

.li_name {
	margin-left: 10%;
	float: left;
}

a {
	display: block;
	padding: 20px;
	background-color: palevioletred;
	text-decoration: none;
	color: white;
	font-size: 23px;
}

a:hover {
	background-color: indianred;
}

h1 {
	display: block;
	text-align: center;
	margin: auto;
	height: 100%;
	padding-top: 10%;
	color: darkred;
	font-size: 52px;
}

.scroll_1 {
	display: block;
	height: 700px;
}

.scroll_1_name {
	display: block;
	width: 60%;
	height: 20%;
	margin-left: 37%;
}

.scroll_1_content {
	display: flex;
	width: 100%;
	height: 80%;
}

.scroll_1_content_left {
	display: flex;
	width: 20%;
	height: 80%;
	margin-left: 8%;
}

.scroll_1_content_right {
	width: 60%;
	margin-left: 10%;
}

.scroll_1_content_right_top {
	display: flex;
	width: 80%;
	height: 40%;
	margin-left: 10%;
	align-content: center;
}

.back {
	position: absolute;
	
}

.back_p {
	margin-left: 0%;
	font-size: 30px;
	width: 80%;
	height: 100%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	color: black;
}

.scroll_1_content_right_down {
	display: flex;
	width: 90%;
	height: 60%;
}

.scroll_1_content_right_down_1 {
	display: flex;
	width: 23%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.scroll_1_content_right_down_2 {
	display: flex;
	width: 23%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.scroll_1_content_right_down_3 {
	display: flex;
	width: 23%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.scroll_2 {
	display: flex;
	justify-content: flex-end;
	display: block;
	height: 700px;
}

.scroll_2_name {
	display: block;
	width: 60%;
	height: 20%;
	margin-left: 2.5%;
	text-align: center;
}

.scroll_2_content {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 80%;
}

.scroll_2_content_right {
	display: flex;
	flex-direction: row-reverse;
	width: 20%;
	height: 80%;
	margin-right: 8%;
}

.scroll_2_content_left {
	width: 60%;
	margin-right: 4.5%;
}

.scroll_2_content_left_top {
	display: flex;
	flex-direction: row-reverse;
	width: 80%;
	height: 40%;
	margin-right: 10%;
}

.scroll_2_content_left_down {
	display: flex;
	flex-direction: row-reverse;
	width: 90%;
	height: 60%;
	margin-right: 10%;
}

.scroll_2_content_left_down_1 {
	display: flex;
	flex-direction: row-reverse;
	width: 23%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.scroll_2_content_left_down_2 {
	display: flex;
	flex-direction: row-reverse;
	width: 23%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.scroll_2_content_left_down_3 {
	display: flex;
	flex-direction: row-reverse;
	width: 23%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

footer {
	display: block;
	height: 60px;
	background-color: palevioletred;
}

img {
	align-content: center;
	margin: auto;
}

.down {
	align-content: center;
	text-align: center;
}

h2 {
	text-align: center;
	display: block;
	background-color: palevioletred;
	text-decoration: none;
	color: white;
	font-size: 23px;
	padding-top: 1.2%;
}

